<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>Giełda_dyżurowa</h1>
        <div class="mt-4 text-center">
          <a href="/duty/slots" class="btn btn-primary me-2">View Duty Slots</a>
          <a href="/doctor/availabilities" class="btn btn-secondary">View Doctor Availabilities</a>
        </div>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</html>