<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>Giełda_dyżurowa</h1>
        <% if (locals.userId) { %>

          <div class="mt-4 text-center">
            <a href="/duty/slots/rendered" class="btn btn-primary me-2">View Duty Slots</a>
            <a href="/doctor/availabilities/rendered" class="btn btn-secondary">View Doctor Availabilities</a>
            <% if (role === 'doctor') { %>
              <a href="/doctor/availability" class="btn btn-secondary">Add Doctor Availability  </a>
            <% } else { %>            
              <a href="/duty/publish" class="btn btn-secondary"> Add Hospital Duty Vacancy </a>
            <% } %>
          </div>
        <% } %>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</html>